<div class="vh-100 d-flex justify-content-center align-items-center">
  <div class="card w-75 h-75 border-0">
    <app-progress [correctCount]="totalCorrect" [incorrectCount]="totalIncorrect"></app-progress>
    <div class="card-body">
      <div *ngIf="currentState == quizState.UNTOUCHED" class="d-flex justify-content-center align-items-center h-100">
        <app-home (isClicked)="fetchQuestions()"></app-home>
      </div>

      <ng-container *ngIf="currentState == quizState.PLAYING && question">
        <app-question (checkAnswer)="checkAnswer($event)"
                      [question]="question!"></app-question>
      </ng-container>
      <ng-container *ngIf="currentState == quizState.END">
        <app-game-over [totalCorrect]="totalCorrect" [totalIncorrect]="totalIncorrect"></app-game-over>
      </ng-container>
      <app-buttons-bar (nextClick)="toNextQuestion()" (restart)="fetchQuestions()"
                       [currentState]="currentState" [nextButtonDisabled]="nextButtonDisabled"></app-buttons-bar>
    </div>
  </div>
</div>
